.nav-stile {
    background-color: #2c3e50;
    color: white;
    height: 3rem;
}

.debug {
    background-color: turquoise;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.sezione-2 {
    background-color: #1abc9c;
    height: 80vh;
    color: white;
    text-align: center;
}

.immagine-cerchiata {
    padding: 4rem;
    border-radius: 50%;
    background-color: yellow;
}


@media screen and (max-width: 576px) {
    .grande {
        display: none;
    }
}


@media screen and (min-width: 576px) {
    .piccolo {
        display: none;
    }
}